*,
*::before,
*::after
{
    box-sizing: border-box;  
    margin: 0;
    padding: 0;  
}

.main-header
{
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 3px gray;
    margin-bottom: 30px;
}

.image-container
{
    display: block;
}

.image-container.headline-image > img
{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.headline-image,
.cta-and-description
{
    width: 50%;
    align-self: center;
}

button
{
    border: none;
}

:root
{
    --brand-color: #3A3C75;
    --brand-color-dark: #23254E;
}

a
{
    text-decoration: none;
}

section
{
    padding-top: 20px;
    padding-bottom: 20px;
}

img
{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container
{
    max-width: 90%;
    margin: auto;
}

.text--brand { color: var(--brand-color, #3A3C75); }
.text--white { color: white; } 
.text--center { text-align: center; }
.text--bold { font-weight: 700; } 

.partner__list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partner__item
{
    max-width: 330px;
}

.what-we-do
{
    border-bottom: 2px solid var(--brand-color, #3A3C75);
}

.section-heading
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
}

.brand-button
{
    color: white;
    background-color: var(--brand-color, #3A3C75);
    padding: 3px 8px;
}

.secondary-button
{
    background-color: white;
    color: var(--brand-color, #3A3C75);
    border: 2px solid var(--brand-color, #3A3C75);
    padding: 3px 8px;
}

.brand-button:hover,
.secondary-button:hover
{
    filter: brightness(80%);
}

.project__previews
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.project__preview
{
    box-shadow: 1px 1px 5px #e2d3d3;
    padding-bottom: 10px;
}

.project__preview-content > *+*
{
    margin-bottom: 5px;
}

.iso-standard
{
    background-color: var(--brand-color, #3A3C75);
    padding-top: 20px;
    padding-bottom: 20px;
}

.iso-standard__holder
{
    display: flex;
    align-items: center;
}

.iso-standard__list
{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    color: white;
    font-weight: 700;
}

.iso-standard__item
{
    background-color: white;
    padding: 10px;
    color: black;
    font-weight: bolder;
}

.mechanization__list
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.mechanization__see-all
{
    background-color: var(--brand-color, #3A3C75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mechanization__see-all-link
{
    color: white;
    font-size: 30px;
}

.separator
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.contact-us-heading
{
    text-align: center;
    font-size: 50px;
    color: var(--brand-color, #3A3C75);
}

.contact__list
{
    border-right: 10px solid var(--brand-color, #3A3C75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__item
{
    display: flex;
    flex-direction: column;
}

.contact-form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form label
{
    font-weight: bold;
}

.form-field
{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border: none;
    background-color: #e7e7eb;
}

.contact-form button[type='submit'].brand-button
{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    align-self: baseline;
    padding: 5px 20px;
}

footer.footer
{
    background-color: var(--brand-color, #3A3C75);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-content
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer__links
{
    display: flex;
    flex-wrap: wrap;
}

.footer__item
{
    margin-right: 10px;
}

.footer__link
{
    color: white;
    font-size: 14px;
}

.footer .logo-holder
{
    background-color: white;
    width: 185px;
}

.logo-image
{
    --edge-size: 36px;
    width: var(--edge-size, 36px);
    height: var(--edge-size, 36px);
    float: left;
}

.footer__link:hover
{
    filter: brightness(75%);    
}

.what-we-do__list
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.what-we-do__item
{
    display: flex;
    align-items: center;
}

.what-we-do__item > .image-container
{
    align-self: center;
}

.main-title
{
    max-width: 22ch;
    font-size: 55px;
}

.secondary-title
{
    font-size: 25px;
}

.cta-button
{
    font-size: 20px;
    padding: 10px 15px;
}

.cta-and-description > *+*
{
    margin-top: 10px;
}

.footer .links
{
    justify-self: center;
}

.footer .work-hours
{
    justify-self: end;
}

.mechanization__item
{
    position: relative;
}

.mechanization__quantity
{
    --circle-dimension: 100px;
    color: var(--brand-color);
    font-weight: 700;
    font-size: 53px;

    position: absolute;
    z-index: 1;
    top: -25px;
    right: -25px;
    background-color: white;
    border-radius: 50%;
    width: var(--circle-dimension, 100px);
    height: var(--circle-dimension, 100px);
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid currentColor;
}

.mechanization__see-all-link
{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.mechanization__see-all-link:hover
{
    filter: brightness(70%);
    background-color: var(--brand-color-dark, #23254E);
}

.about-us-info
{
    font-size: 20px;
    line-height: 2;
}

.about-us-info
{
    margin-bottom: 15px;
}

.about-us__development-path
{
    list-style: disc;
    list-style-position: inside;
}

.about-us__list
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
}

.about-us__managementMember
{
    display: flex;
    box-shadow: 1px 5px 8px gray;
}

.about-us__management-content
{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-us__management-content
{
    margin-right: 2.5%;
}

.section-title
{
    font-size: 40px;
    margin-bottom: 20px;
}

ul { list-style: none; }

.navigation__list
{
    display: flex;
    list-style: none;
}

.navigation__item
{
    margin-right: 10px;
}

.navigation__item.logo { margin-right: auto; }

.navigation__link
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px;
}

.navigation__link:hover,
.navigation__link.active
{
    background-color: #3A3C75;
    color: white;
}

.cta-and-headline-image-holder
{
    display:flex; 
    margin-top: 30px;
}

@media screen and (max-width: 650px)
{
    .navigation__list
    {
        flex-direction: column;
        gap: 5px;
    }

    .navigation__link
    {
        font-size: 10px;
        padding: 2px 4px;
    } 

    .image-container.logo-image
    {
        --edge-size: 15px;
        float: none;
    }

    .logo-minor-title
    {
        width: 41%;
        font-size: 8px;
    }

    .logo-major-title
    {
        font-size: 12px;
    }

    .main-header
    {
        padding-top: 0;
    }

    .navigation__item
    {
        margin-right: 0;
    }

    .navigation__main
    {
        margin-top: 10px;
    }

    .cta-and-headline-image-holder
    {
        flex-direction: column;
    }

    .headline-image, 
    .cta-and-description
    {
        width: 100%;
    }

    .main-title
    {
        font-size: 7px;
    }

    .secondary-title
    {
        font-size: 6px;
    }

    .cta-button 
    {
        font-size: 6px;
        padding: 4px 6px;
    }

    .headline-image
    {
        height: 100px;
    }

    .section-title
    {
        font-size: 8px;
        margin-bottom: 10px;
    }

    .partner__list
    {
        flex-direction: column;
        gap: 10px;
    }

    section
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .what-we-do__list
    {
        grid-template-columns: 1fr;
    }

    .what-we-do__item
    {
        flex-direction: column;
    }

    .what-we-do__item > img.image-container
    {
        width: 20px;
    }

    .what-we-do__item > p
    {
        font-size: 7px;
    }

    .section-heading
    {
        flex-direction: column;
    }

    .section-heading > a.brand-button
    {
        font-size: 6px;
    }

    .project__previews
    {
        grid-template-columns: 1fr;
    }

    .project__title
    {
        font-size: 7px;
    }

    .project__location
    {
        font-size: 8px;
    }

    .project__link
    {
        font-size: 6px;
        display: block;
        border: 1px solid;
        padding: 2px 4px;
    }

    .iso-standard__holder
    {
        flex-direction: column;
    }

    .iso-standard__list
    {
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    .iso-standard__item
    {
        padding: 2px 6px;
        font-size: 7px;
    }

    .iso-standard__title
    {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .iso-standard
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mechanization__list
    {
        grid-template-columns: 1fr;
    }

    .mechanization__quantity
    {
        --circle-dimension: 25px;
        font-size: 9px;
    }

    .mechanization__title
    {
        font-size: 12px;
    }

    .mechanization__see-all-link
    {
        font-size: 8px;
        padding: 2px 4px;
    }

    .mechanization__quantity
    {
        top: -10px;
        right: 0px;
    }

    .separator
    {
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column;
    }

    .address-holder
    {
        font-size: 10px;
    }

    .contact-us-heading
    {
        font-size: 7px;
    }

    .contact-form label
    {
        font-size: 10px;
    }

    .contact-form button[type='submit'].brand-button
    {
        padding: 3px 6px;
        font-size: 10px;
    }

    .contact__list
    {
        border-right: none;
    }

    .contact__item
    {
        font-size: 10px;
    }

    .footer-content
    {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .footer__links
    {
        flex-direction: column;
    }

    .footer .links,
    .footer .work-hours
    {
        justify-self: initial;
    }

    .footer .logo-holder
    {
        width: initial;
        padding-left: 5px;
    }
}