*,
*::before,
*::after
{
    box-sizing: border-box;  
    margin: 0;
    padding: 0;  
}

:root
{
    --brand-color: #3A3C75;
    --brand-color-dark: #23254E;
}

button
{
    border: none;
    cursor: pointer;
}

a
{
    text-decoration: none;
}

section
{
    padding-top: 20px;
    padding-bottom: 20px;
}

img
{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

ul
{
    list-style: none;
}

/*===================================*/
/*       UTILITY CLASSESS     */
/*===================================*/
.container
{
    max-width: 90%;
    margin: auto;
}

.text--brand { color: var(--brand-color, #3A3C75); }
.text--white { color: white; } 
.text--center { text-align: center; }
.text--bold { font-weight: 700; } 
.background-color--brand { background-color: var(--brand-color, #3A3C75); }

.brand-button
{
    color: white;
    background-color: var(--brand-color, #3A3C75);
    padding: 3px 8px;
}

.secondary-button
{
    background-color: white;
    color: var(--brand-color, #3A3C75);
    border: 2px solid var(--brand-color, #3A3C75);
    padding: 3px 8px;
}

.brand-button:hover,
.secondary-button:hover
{
    filter: brightness(80%);
}

.two-columns-separator
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.section-title
{
    margin-bottom: 10px;
}

@media screen and (max-width: 300px)
{
    .cta-and-description .two-columns-separator
    {
        grid-template-columns: 1fr;
    }    
}

/*===================================*/
/*       NAVIGATION     */
/*===================================*/
.navigation__list
{
    gap: 10px;
}

@media screen and (min-width: 650px)
{
    .navigation__list
    {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 650px)
{
    .navigation__link
    {
        display: flex;
        flex-direction: column;
        align-items: center;  
        aspect-ratio: 1 / 1;
        justify-content: center;  
    }

    .navigation__list
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 650px) 
{
    .navigation__item
    {
        margin-right: 10px;
    }    
}

.navigation__item.logo { margin-right: auto; }

.navigation__link
{
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 5px;
}

.navigation__link:hover,
.navigation__link.active
{
    background-color: #3A3C75;
    color: white;
}

@media screen and (min-width: 250px) 
{
    .navigation__link
    {
        font-size: 20px;
    }    
}

@media screen and (max-width: 650px)
{
    .navigation__main
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;

        transform: scale(0);
        z-index: -1;
    }

    #hamburgerToggle:checked ~ .navigation__main
    {
        transform: scale(1);
        z-index: 1;
    }
}

/*===================================*/
/*       HAMBURGER     */
/*===================================*/

.hamburger-bar
{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: black;
    margin-bottom: 5px;
}



#hamburgerToggle
{
    display: none;
}

#hamburgerToggle:checked + label[for='hamburgerToggle'] .hamburger-bar
{
    background-color: orangered;
}

@media screen and (max-width: 650px)
{
    .hamburgerToggle
    {
        margin-top: 15px;
    }

    label[for='hamburgerToggle-2']
    {
        font-size: 35px;
        font-weight: 700;
        margin-left: 5%;
    }
}

@media screen and (min-width: 650px)
{
    .hamburgerToggle,
    label[for='hamburgerToggle-2'],
    i.mobileIcon
    {
        display: none;
    }
}

#hamburgerToggle-2
{
    display: none;
}

/*===================================*/
/*       LOGO     */
/*===================================*/
.logo-holder
{
    display: flex;
    align-items: center;
}

.logo-image
{
    --edge-size: 36px;
    width: var(--edge-size, 36px);
    height: var(--edge-size, 36px);
}

.logo-minor-title
{
    font-size: 8px;
    color: black;
}

.logo-major-title
{
    font-size: 12px;
}

.logo-content
{
    display: flex;
    flex-direction: column;
    padding-right: 3px;
}

@media screen and (min-width: 1000px)
{
    .logo-image
    {
        --edge-size: 46px
    }    

    .logo-minor-title
    {
        font-size: 15px;
    }

    .logo-major-title
    {
        font-size: 20px;
    }
}

/*===================================*/
/*       header-content     */
/*===================================*/
.main-header
{
    position: relative;
}

@media screen and (min-width: 650px)
{
    .main-header
    {
        margin-top: 15px;
    }    
}

.header-content
{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 650px)
{
    .header-home-link
    {
        margin: auto;
    }    
}

@media screen and (min-width: 650px)
{
    .header-content
    {
        align-items: center;    
    }
}

/*===================================*/
/*       CTA and HEADLINE IMAGE     */
/*===================================*/
.main-title
{
    font-size: 12px;
    /* max-width: 22ch; */
}

.secondary-title
{
    font-size: 10px;
}

.cta-and-headline-image-holder
{
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 400px)
{
    .cta-and-headline-image-holder
    {
        flex-direction: column-reverse;
    }    
}

@media screen and (min-width: 400px)
{
    .cta-and-headline-image-holder
    {
        margin-top: 15px;
    } 

    .cta-and-description,
    .headline-image
    {
        width: 50%;
    }    

    .cta-button
    {
        font-size: 10px;
    }

    .main-title
    {
        font-size: 15px;
        max-width: 22ch;
    }

    .cta-and-description .two-columns-separator
    {
        justify-content: start;
    }
}

@media screen and (min-width: 520px)
{
    .cta-and-description
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    
}

@media screen and (min-width: 600px)
{
    .main-title
    {
        font-size: 20px;
    }    

    .secondary-title
    {
        font-size: 14px;
    }

    .cta-and-description > *
    {
        margin-top: 10px;
    }

    .cta-button
    {
        font-size: 13px;
    }
}

@media screen and (min-width: 1100px)
{
    .cta-button
    {
        font-size: 23px;
    }    
}

@media screen and (min-width: 710px)
{
    .main-title
    {
        font-size: 28px;
    }    

    .secondary-title
    {
        font-size: 18px;
    }
}

.cta-and-description > *
{
    margin-top: 5px;
}

/*===================================*/
/*       PARTNERS     */
/*===================================*/
.partner__list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partner__item
{
    max-width: 330px;
}

@media screen and (max-width: 650px) 
{
    .partner__list
    {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (min-width: 649px)
{
    .partner__item
    {
        max-width: 230px;
    }
}

@media screen and (min-width: 949px)
{
    .partner__item
    {
        max-width: initial;
    }    
}

/*===================================*/
/*       PARTNERS     */
/*===================================*/
.what-we-do
{
    border-bottom: 3px solid var(--brand-color, #3A3C75);
}

.what-we-do__list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.what-we-do__item
{
    display: flex;
    align-items: center;
}

@media screen and (min-width: 390px)
{
    .what-we-do__list
    {
        flex-direction: row;
    }    
}

@media screen and (min-width: 800px)
{
    .what-we-do__list
    {
        justify-content: space-between;
    }    
}

.what-we-do__item
{
    text-align: center;
    max-width: 250px;
}

.what-we-do__item > i:first-child
{
    color: var(--brand-color, #3A3C75);
    font-size: 55px;
}

/*===================================*/
/*       PROJECTS     */
/*===================================*/
.project__previews
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project__preview
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project__preview-content > *
{
    margin-bottom: 10px;
}

.project__location
{
    margin-top: 10px;
}

.project__link
{
    display: block;
}

@media screen and (min-width: 410px)
{
    .section-heading
    {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }    
}

@media screen and (min-width: 520px)
{
    .project__previews
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media screen and (min-width: 750px)
{
    .project__previews
    {
        grid-template-columns: repeat(3, 1fr);
    }    
}

@media screen and (min-width: 1000px)
{
    .project__previews
    {
        grid-template-columns: repeat(4, 1fr);
    }    
}

/*=====>> media queries*/
@media screen and (min-width: 1000px)
{
    .main-title
    {
        font-size: 45px;
    }    

    .secondary-title
    {
        font-size: 30px;
    }
}

/*===================================*/
/*      ISO STANDARDS     */
/*===================================*/
.iso-standard
{
    background-color: var(--brand-color, #3A3C75);
}

.iso-standard__holder
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.iso-standard__list
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.iso-standard__item
{
    background-color: white;
    padding: 3px 6px;
    font-size: 24px;
    /* font-weight: 700; */
    color: black;
}

@media screen and (min-width: 500px) 
{
    .iso-standard__list
    {
        flex-direction: row;
    }    
}

@media screen and (min-width: 820px) 
{
    .iso-standard__holder
    {
        flex-direction: row;
    }   
    
    .iso-standard__list
    {
        margin-left: auto;
        gap: 40px;
    }

    .iso-standard
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 1000px)
{
    .iso-standard__title
    {
        font-size: 45px;
    }

    .iso-standard__item
    {
        font-size: 40px;
    }    

    .iso-standard
    {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

/*===================================*/
/*      MECHANIZATION     */
/*===================================*/
.mechanization__list
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mechanization__item
{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mechanization__title
{
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5%;
}

.mechanization__quantity
{
    /* --circle-dimension: 100px; */
    --circle-dimension: 45px;
    font-size: 21px;
    color: white;
    font-weight: 700;
    /* font-size: 53px; */
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: var(--brand-color, #3A3C75);
    border-radius: 50%;
    width: var(--circle-dimension, 100px);
    height: var(--circle-dimension, 100px);
    display: flex;
    align-items: center;
    padding: 5px;
}

.mechanization__see-all
{
    background-color: var(--brand-color, #3A3C75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mechanization__see-all-link
{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
    min-height: 100px;
}

.mechanization__see-all-link:hover
{
    filter: brightness(70%);
    background-color: var(--brand-color-dark, #23254E);
}

@media screen and (min-width: 400px) 
{
    .mechanization__list
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media screen and (min-width: 600px) 
{
    .mechanization__quantity
    {
        --circle-dimension: 80px;
        font-size: 45px;
    }    

    .mechanization__title
    {
        font-size: 25px;
    }

    .mechanization__see-all-link
    {
        font-size: 30px;
    }
}

@media screen and (min-width: 1200px)
{
    .mechanization__quantity
    {
        --circle-dimension: 110px;
        font-size: 63px;
    }    

    .mechanization__see-all-link
    {
        font-size: 45px;
    }
}

/*===================================*/
/*      FOOTER     */
/*===================================*/
.footer
{
    background-color: var(--brand-color, #3A3C75);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer__link
{
    color: white;
    font-size: 12px;
}

@media screen and (min-width: 1000px)
{
    .footer__link
    {
        font-size: 20px;    
    }
}

.footer-content
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

footer.footer .logo-holder
{
    background-color: white;
    align-self: flex-start;
}

.footer__links
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}  

@media screen and (min-width: 618px)
{
    .footer-content
    {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 840px)
{
    .footer-content
    {
        justify-content: space-between;
    }    
}

/*===================================*/
/*      ABOUT US     */
/*===================================*/
.about-us-info
{
    font-size: 20px;
    line-height: 2;
}

.about-us-info
{
    margin-bottom: 15px;
}

.about-us__development-path
{
    list-style: disc;
    list-style-position: inside;
}

.about-us__list
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 21px;
}

@media screen and (min-width: 550px)
{
    .about-us__list
    {
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media screen and (min-width: 1000px)
{
    .about-us__list
    {
        grid-template-columns: repeat(3, 1fr);
    }    
}

.about-us__managementMember
{
    display: flex;
    box-shadow: 1px 5px 8px gray;
}

.about-us__managementMember > .image-container
{
    width: 40%;
    margin-right: 10px;
}

.management-contact-list > *
{
    margin-bottom: 10px;
}

.about-us__management-content
{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 2.5%;
    padding-bottom: 10px;
}

/*=====>> where we are*/
.where-we-are .separator
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 520px) 
{
    .where-we-are .separator
    {
        flex-direction: row;
        justify-content: space-between;
    }    

    .address-holder
    {
        width: 50%;
    }
}
/*===================================*/
/*      CONTACT US     */
/*===================================*/
.contact-us-heading
{
    text-align: center;
    font-size: 25px;
    /* font-size: 50px; */
    color: var(--brand-color, #3A3C75);
    margin-bottom: 15px;
}

.contact__list
{
    border-right: 10px solid var(--brand-color, #3A3C75);
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    margin-bottom: 10px;
}

.contact__item
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form label
{
    font-weight: bold;
}

.form-field
{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border: none;
    background-color: #e7e7eb;
}

.contact-form button[type='submit'].brand-button
{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    align-self: baseline;
    padding: 5px 20px;
}

@media screen and (min-width: 520px) 
{
    .contact-us .separator
    {
        display: flex;
        justify-content: center;
        gap: 10px;
    }    

    .contact__list
    {
        padding-right: 10px;
    }
}

@media screen and (min-width: 1000px)
{
    .contact-us-heading
    {
        font-size: 50px;
    }    
}