*,
*::before,
*::after
{
    box-sizing: border-box;  
    margin: 0;
    padding: 0;  
}

:root
{
    --brand-color: #3A3C75;
    --brand-color-dark: #23254E;
}

button
{
    border: none;
    cursor: pointer;
}

a
{
    text-decoration: none;
}

section
{
    padding-top: 20px;
    padding-bottom: 20px;
}

img
{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

ul
{
    list-style: none;
}

/*===================================*/
/*       UTILITY CLASSESS     */
/*===================================*/
.container
{
    max-width: 90%;
    margin: auto;
}

.text--brand { color: var(--brand-color, #3A3C75); }
.text--white { color: white; } 
.text--center { text-align: center; }
.text--bold { font-weight: 700; } 
.background-color--brand { background-color: var(--brand-color, #3A3C75); }

.brand-button
{
    color: white;
    background-color: var(--brand-color, #3A3C75);
    padding: 3px 8px;
}

.secondary-button
{
    background-color: white;
    color: var(--brand-color, #3A3C75);
    border: 2px solid var(--brand-color, #3A3C75);
    padding: 3px 8px;
}

.brand-button:hover,
.secondary-button:hover
{
    filter: brightness(80%);
}

.two-columns-separator
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media screen and (max-width: 300px)
{
    .cta-and-description .two-columns-separator
    {
        grid-template-columns: 1fr;
    }    
}

/*===================================*/
/*       NAVIGATION     */
/*===================================*/
.navigation__list
{
    gap: 10px;
}

@media screen and (min-width: 650px)
{
    .navigation__list
    {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 650px)
{
    .navigation__link
    {
        display: flex;
        flex-direction: column;
        align-items: center;  
        aspect-ratio: 1 / 1;
        justify-content: center;  
    }

    .navigation__list
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 650px) 
{
    .navigation__item
    {
        margin-right: 10px;
    }    
}

.navigation__item.logo { margin-right: auto; }

.navigation__link
{
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 5px;
}

.navigation__link:hover,
.navigation__link.active
{
    background-color: #3A3C75;
    color: white;
}

@media screen and (min-width: 250px) 
{
    .navigation__link
    {
        font-size: 20px;
    }    
}

@media screen and (max-width: 650px)
{
    .navigation__main
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;

        transform: scale(0);
        z-index: -1;
    }

    #hamburgerToggle:checked ~ .navigation__main
    {
        transform: scale(1);
        z-index: 1;
    }
}

/*===================================*/
/*       HAMBURGER     */
/*===================================*/

.hamburger-bar
{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: black;
    margin-bottom: 5px;
}



#hamburgerToggle
{
    display: none;
}

#hamburgerToggle:checked + label[for='hamburgerToggle'] .hamburger-bar
{
    background-color: orangered;
}

@media screen and (max-width: 650px)
{
    .hamburgerToggle
    {
        margin-top: 15px;
    }

    label[for='hamburgerToggle-2']
    {
        font-size: 35px;
        font-weight: 700;
        margin-left: 5%;
    }
}

@media screen and (min-width: 650px)
{
    .hamburgerToggle,
    label[for='hamburgerToggle-2'],
    i.mobileIcon
    {
        display: none;
    }
}

#hamburgerToggle-2
{
    display: none;
}

/*===================================*/
/*       LOGO     */
/*===================================*/
.logo-holder
{
    display: flex;
    align-items: center;
}

.logo-image
{
    --edge-size: 36px;
    width: var(--edge-size, 36px);
    height: var(--edge-size, 36px);
}

.logo-minor-title
{
    font-size: 8px;
    color: black;
}

.logo-major-title
{
    font-size: 12px;
}

.logo-content
{
    display: flex;
    flex-direction: column;
}

/*===================================*/
/*       header-content     */
/*===================================*/
.main-header
{
    position: relative;
}

@media screen and (min-width: 650px)
{
    .main-header
    {
        margin-top: 15px;
    }    
}

.header-content
{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 650px)
{
    .header-home-link
    {
        margin: auto;
    }    
}

@media screen and (min-width: 650px)
{
    .header-content
    {
        align-items: center;    
    }
}

/*===================================*/
/*       CTA and HEADLINE IMAGE     */
/*===================================*/
.main-title
{
    font-size: 12px;
    /* max-width: 22ch; */
}

.secondary-title
{
    font-size: 10px;
}

.cta-and-headline-image-holder
{
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 400px)
{
    .cta-and-headline-image-holder
    {
        flex-direction: column-reverse;
    }    
}

@media screen and (min-width: 400px)
{
    .cta-and-headline-image-holder
    {
        margin-top: 15px;
    } 

    .cta-and-description,
    .headline-image
    {
        width: 50%;
    }    

    .cta-button
    {
        font-size: 10px;
    }

    .main-title
    {
        font-size: 15px;
        max-width: 22ch;
    }

    .cta-and-description .two-columns-separator
    {
        justify-content: start;
    }
}

@media screen and (min-width: 520px)
{
    .cta-and-description
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    
}

@media screen and (min-width: 600px)
{
    .main-title
    {
        font-size: 20px;
    }    

    .secondary-title
    {
        font-size: 14px;
    }

    .cta-and-description > *
    {
        margin-top: 10px;
    }

    .cta-button
    {
        font-size: 13px;
    }
}

@media screen and (min-width: 710px)
{
    .main-title
    {
        font-size: 28px;
    }    

    .secondary-title
    {
        font-size: 18px;
    }
}

.cta-and-description > *
{
    margin-top: 5px;
}

/*===================================*/
/*       PARTNERS     */
/*===================================*/
.partner__list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partner__item
{
    max-width: 330px;
}

@media screen and (max-width: 650px) 
{
    .partner__list
    {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (min-width: 649px)
{
    .partner__item
    {
        max-width: 230px;
    }

    .section-title
    {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 949px)
{
    .partner__item
    {
        max-width: initial;
    }    
}